.app-main {
  width: 100vw;
  height: 100vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.appTopText {
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 1000;
  color: lightslategray;
}

.selectContainer {
  /* border: 1px solid red; */
  width: 600px;
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}
